<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coresystems.fint">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotype"
        android:label="Fint v03"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".IntroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".Accounting.IncomeAdd"
            android:parentActivityName=".MainActivity"
            android:label="@string/incomeadd"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".Accounting.OutcomeAdd"
            android:parentActivityName=".MainActivity"
            android:label="@string/outcomeadd"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".Accounting.LoansActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/loans"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".Accounting.TransferActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/transfer"
            android:theme="@style/AppTheme">

        </activity>

    <activity android:name=".LoginActivity">

    </activity>

        <activity android:name=".LanguageActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/language"
            android:theme="@style/NewTheme">


        </activity>
        <activity android:name=".PasswordActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/password"
            android:theme="@style/NewTheme">


        </activity>
        <activity android:name=".CurrencyActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/сurrency"
            android:theme="@style/NewTheme">
        </activity>

        <activity android:name=".CattegoryActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/сattegory"
            android:theme="@style/NewTheme">
        </activity>


        <activity android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/profile"
            android:theme="@style/NewTheme">
        </activity>

        <activity android:name=".AccountActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/account"
            android:theme="@style/NewTheme">
        </activity>

        <activity android:name=".AddAccountActivity"
            android:parentActivityName=".AccountActivity"
            android:label="Добавить счет"
            android:theme="@style/AppTheme">

        </activity>

    </application>

</manifest>